.container {
  padding: 0px 10px;
}

.room-title {
  padding-top: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}

#add-room-btn{
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
  margin-bottom: 50px;
}

.room-container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.room {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.active-users {
  text-align: left;
  font-size: 14px;
  margin-bottom: 40px;
}

.room-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.3em;
  white-space: nowrap;
}

.join-btn {
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
  border-radius: 10px;
}

.game-container {
  padding: 20px 20px 50px;
  height: 100%;
  display: grid;
  grid-template-columns: 350px 1fr 300px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  overflow: hidden;
}
.room-info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
}
.room-info .room-name {
  margin-bottom: 20px;
}

#quit-room-btn {
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
  margin-bottom: 50px;
  border-radius: 10px;
}

.room-users {
  overflow: auto;
}

.game-board {
  padding: 30px 10px 10px;
  height: 100%;
  border: 1px solid #000;
  position: relative;
}

#ready-btn {
  font-size: 24px;
  padding: 20px 25px;
  font-weight: 700;
  border: 1px solid #000;
  background-color: var(--main-button-background-color);
}

.user {
  font-weight: 700;
  padding: 10px;
  margin-bottom: 10px;
}

.user-info {
  margin-bottom: 10px;
  align-items: center;
}

.ready-status {
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

.username {
  flex: 1 1 auto;
}

.username.active::after {
  content: "(you)";
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}

.user-progress-indicator {
  border: 2px solid #000;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.user-progress {
  height: 100%;
  background-color: rgb(69, 219, 24);
  width: 0;
}

.user-progress.finished{
    background-color: rgb(0, 255, 157);
}

#timer {
  font-size: 28px;
  font-weight: 700;
}

#gameTimer {
  font-size: 12px;
  font-style: italic;
  position: absolute;
  top: 5px;
  right: 0;
  margin-right: 10px;
}

#text-container{
  max-width: 500px;
  white-space: break-spaces;
}

.user-position{
  margin-bottom: 10px;
}

.inputed-text{
  background-color: rgb(69, 219, 24);
}

.next-symbol{
  border-bottom: 2px solid #000;
}

.bot-container{
  display: grid;
  align-items: center;
}

.bot{
  text-align: center;
  position: relative;
}

.bot-message-wrapper{
  text-align: left;
  font-size: 14px;
  position: absolute;
  max-width: 80%;
  top:0;
  left: 30px;
  padding: 20px 0;
  border-radius: 10px;
  border: 1px solid #000;
  transform: translateY(-100%);
}

#bot-message-box{
  padding: 0 20px;
  max-height: 180px;
  overflow: auto;
}

#bot-message-box::after{
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg) translate(40%,40%);
  bottom: 0;
  left: 20px;
  border-right:  1px solid #000;
  border-bottom:  1px solid #000;
}

.bot-message,.bot-greeting{
  text-align:  center;
  margin-bottom: 10px;
}

.bot-list-users{
  font-weight: 700;
}

.going-user, .message-marker, .bot-title{
  font-weight: 700;
}